In [62]:
import pandas as pd
import numpy as np

In [5]:
ardf = pd.read_csv("ar0425.csv")

In [6]:
tridf = pd.read_csv("merged0425.csv")

In [7]:
tridf.shape

(2860, 4)

In [8]:
ardf.shape

(2518, 6)

In [18]:
ardf.drop("cn",axis=1,inplace=True)

In [19]:
ardf.head()

,en,ar,pos
0,* a.m.,* صباحًا,prt
1,* airlines has a flight leaving at *.,* شركة الطيران لديها رحلة مغادرة في *,vp
2,"* and * , please.",من فضلك أعطني * و *.,vp
3,* day(s),‏* أيام,prt
4,* dinar,* دينار,prt

In [32]:
join = tridf.join(ardf, on="en", lsuffix='big', rsuffix='small')

In [76]:
merge = pd.merge(tridf, ardf, on='en', how='outer')

In [77]:
merge.shape

(3032, 6)

In [78]:
merge.head()

,en,cn,ar_x,pos_x,ar_y,pos_y
0,* a.m.,下午*点,* صباحًا,prt,* صباحًا,prt
1,* airlines has a flight leaving at *.,*航空公司有一架班机，在*起飞。,NaN,vp,* شركة الطيران لديها رحلة مغادرة في *,vp
2,"* and * , please.",请给我*和*。,من فضلك أعطني * و *.,vp,من فضلك أعطني * و *.,vp
3,* day(s),*天,‏* أيام,prt,‏* أيام,prt
4,* dinar,第纳尔,دينار,prt,* دينار,prt

In [80]:
merge.ar_x.fillna(merge.ar_y, inplace=True)
merge.pos_x.fillna(merge.pos_y, inplace=True)

In [89]:
missing_ar = merge[merge.ar_x.isnull()]

In [90]:
missing_ar.to_csv("missing_ar.csv")

In [95]:
merge.loc[2639,"pos_x"] = "np"
merge.loc[2641,"pos_x"] = "sent"

In [101]:
merge = merge.drop(["ar_y","pos_y"], axis=1)

In [105]:
merge = merge.rename(index=str, columns={"ar_x": "ar", "pos_x": "pos"})

In [108]:
merge.duplicated?

In [159]:
merge = merge.drop_duplicates("en", keep="first")
#dupl = merge[merge.duplicated(['en'], keep="last")]

In [161]:
merge = pd.merge(merge, du, on="en", how="outer")

In [130]:
dupl = dupl.reset_index()
dupf = dupf.reset_index()

In [132]:
dupl = dupl.dropna()

In [145]:
ardup = pd.merge(dupl, dupf, on='en', how='outer')

In [146]:
ardup.ar_x = ardup.ar_x.fillna(ardup.ar_y)

In [149]:
for i, row in ardup.iterrows():
    if row.ar_x != row.ar_y:
        ardup.loc[i, "ar_x"] = row.ar_y

In [151]:
du = ardup[["en","ar_x"]]

In [152]:
du.shape

(90, 2)

In [153]:
du.tail()

,en,ar_x
85,"Your meal, we're really sorry for the delay.","تفضل وجبتك, نحن اسفون جدا على التأخير."
86,Your seat is confirmed on flight number * leav...,تم تأكيد مقعدك على الرحلة رقم * المغادرة الساعة *
87,Your seat is in the middle of the cabin.,مقعدك في منتصف المقصورة
88,You can surf the Internet while enjoying your ...,NaN
89,NaN,NaN

In [163]:
merge.shape

(2952, 5)

In [164]:
merge.head()

,en,cn,ar,pos,ar_x
0,* a.m.,下午*点,* صباحًا,prt,NaN
1,* airlines has a flight leaving at *.,*航空公司有一架班机，在*起飞。,* شركة الطيران لديها رحلة مغادرة في *,vp,NaN
2,"* and * , please.",请给我*和*。,من فضلك أعطني * و *.,vp,NaN
3,* day(s),*天,‏* أيام,prt,NaN
4,* dinar,第纳尔,دينار,prt,NaN

In [166]:
for i,row in merge.iterrows():
    if not pd.isnull(row.ar_x):
        merge.loc[i, "ar"] = row.ar_x

In [172]:
len(merge) - merge.en.count()

1

In [173]:
merge.drop("ar_x",axis=1,inplace=True)

In [180]:
for i,row in merge.iterrows():
    if pd.isnull(row.cn) or pd.isnull(row.en):
        merge.drop(i,inplace=True)

In [181]:
len(merge) - merge.en.count()

0

In [182]:
merge.shape

(2824, 4)

In [184]:
merge.tail(30)

,en,cn,ar,pos
2796,stuffed,填充的,محشي,adj
2797,minced,剁碎,مفروم,adj
2798,crunchy,脆脆,مقرمش,adj
2799,raw,生的,نئ,adj
2800,delicious,美味的,لذيذ,adj
2801,appetizing,开胃的,شهي,adj
2802,I would like to buy *.,我想要买*,أريد أن أشتري *.,vp
2803,I would like to get a room.,我想要一个房间。,أود الحصول على غرفة.,sent
2804,Can I get that one?,我可以有那个吗？,هل يمكنني الحصول على ذلك؟,sent
2805,buy,买,يشترى,vp
2806,"Sorry, we only have those.",不好意思，我只有那些。,عذرا ، ليس لدينا سوى هؤلاء.,sent
2807,"Sorry, we only have that one.",不好意思，我只有那个。,عذرا ، ليس لدينا سوى ذلك واحد.,sent
2808,When is the earliest flight to *?,最早的班机是什么时候？,متى تكون أول رحلة طيران إلى *؟,vp
2809,I only have *.,我只有*,لدي فقط *.,vp
2810,Credit card,信用卡,بطاقة ائتمان,np
2811,Debit card,借记卡,بطاقة ائتمان,np
2812,Cash,现金,السيولة النقدية,np
2813,It's at *.,在*,انه عند *.,vp
2814,supervisor,主管,مشرف,np
2815,When is the flight landing in *?,班机何时抵达*？,متى تهبط الرحلة في *؟,vp
2816,per night,每晚,لليلة الواحدة,adv
2817,how many *?,几个*？,كم العدد *؟,vp
2818,in a rush,赶时间,مستعجل، في عجلة من أمري,adv
2819,How much does it cost?,多少钱？,كم يكلف؟,sent
2820,as soon as possible,尽早,في أقرب وقت ممكن,adv
2821,Where would you like to go?,您想去哪里？,أين تريد أن تذهب؟,sent
2822,That flight costs *.,那班飞机价钱是*。,تكاليف الرحلة *.,vp
2823,It costs *.,价钱是*。,يكلف *.,vp
2824,Which flight would you like?,您想要哪班飞机？,أي رحلة تود؟,sent
2825,How much are you willing to pay?,您愿意付多少钱？,كم أنت على استعداد لدفع؟,sent

In [185]:
noar = merge[merge.ar.isnull()]

In [186]:
noar.shape

(177, 4)

In [187]:
noar.to_csv("missing_ar_0425.csv")

In [189]:
merge = merge.reset_index().drop("index", axis=1)

In [192]:
merge.shape

(2824, 4)

In [193]:
merge.to_csv("master0425.csv")

In [194]:
tr = pd.read_csv("artrans.csv")

In [198]:
tr = tr.set_index("Unnamed: 0")

In [199]:
merge = merge[merge.ar.fillna(tr.ar)]

ValueError: cannot index with vector containing NA / NaN values

In [203]:
tr.drop("pos",axis=1,inplace=True)

In [205]:
tr.head()

                       en           ar
Unnamed: 0
350               coaster      السفينة
458         dessert plate  لوحة الحلوى
583         elder brother  الاخ الاكبر
635            fare class  الطبقة أجرة
707             feet (ft)          قدم

In [214]:
m = pd.merge(merge, tr, on='en', how='outer')

In [215]:
m.head()

,en,cn,ar_x,pos,ar_y
0,* a.m.,下午*点,* صباحًا,prt,NaN
1,* airlines has a flight leaving at *.,*航空公司有一架班机，在*起飞。,* شركة الطيران لديها رحلة مغادرة في *,vp,NaN
2,"* and * , please.",请给我*和*。,من فضلك أعطني * و *.,vp,NaN
3,* day(s),*天,‏* أيام,prt,NaN
4,* dinar,第纳尔,دينار,prt,NaN

In [216]:
m.ar_x = m.ar_x.fillna(m.ar_y)

In [217]:
m.head()

,en,cn,ar_x,pos,ar_y
0,* a.m.,下午*点,* صباحًا,prt,NaN
1,* airlines has a flight leaving at *.,*航空公司有一架班机，在*起飞。,* شركة الطيران لديها رحلة مغادرة في *,vp,NaN
2,"* and * , please.",请给我*和*。,من فضلك أعطني * و *.,vp,NaN
3,* day(s),*天,‏* أيام,prt,NaN
4,* dinar,第纳尔,دينار,prt,NaN

In [218]:
len(m) - m.ar_x.count()

19

In [219]:
m.shape

(2840, 5)

In [221]:
m.ar_x = m.ar_x.dropna()

In [225]:
m = m.rename(index=str, columns={"ar_x": "ar"})

In [228]:
m.drop("ar_y",axis=1,inplace=True)

In [223]:
for i,row in m.iterrows():
    if row.ar_x == "DELETE":
        m.drop(i,inplace=True)

In [229]:
m.to_csv("allfilled0425.csv")