In [69]:
import pandas as pd
import numpy as np

In [19]:
tri = pd.read_csv("trimaster.csv")
ar = pd.read_csv("armaster.csv")
cn = pd.read_csv("cnmaster.csv")

In [20]:
tri.shape

(557, 5)

In [21]:
ar.shape

(531, 3)

In [22]:
cn.shape

(542, 3)

In [23]:
ar.head()

  en     ar  pos
0  0    صفر  num
1  1   واحد  num
2  2  إثنان  num
3  3  ثلاثة  num
4  4  أربعة  num

In [24]:
cn.drop(0, inplace=True)

In [25]:
cn.shape

(541, 3)

In [33]:
arcn = pd.merge(ar, cn, on="en", how="outer")

In [34]:
arcn.drop(539, inplace=True)

In [39]:
for i, row in arcn.iterrows():
    col = list(arcn)
    if row.pos_x != row.pos_y:
        print(i)
        for c in col:
            print(arcn.loc[i, c])
        
        init = "pos_x"
        while True:
            print("col to change:")
            init = input()
            
            if init == "x":
                break
                
            if init == "drop":
                arcn.drop(i, inplace=True)
                break
            print("change to val:")
            row[init] == input()
        
        print()

320
May I please ask, what is your name?
هل لي بالسؤال، ما هو اسمك؟
vp
请问你叫什么名?
sent
col to change:
pos_x
change to val:
sent
col to change:
x

321
May I see the room first?
هل لي برؤية الغرفة أولاً؟
vp
请问我可以先看一下房间吗？
sent
col to change:
pos_x
change to val:
sent
col to change:
x

363
pain killer
مسكن ألم
sent
止痛药
np
col to change:
pos_x
change to val:
np
col to change:
x

376
Please give me *.
من فضلك أعطني *.
 sent
请给我*。
vp
col to change:
pos_x
change to val:
vp
col to change:
x

377
Please turn up the AC.
من فضلك شغل المكيف الهوائي.
 sent
请把空调开大一点。
vp
col to change:
pos_y
change to val:
sent
col to change:
x

379
Please.
من فضلك
 part
请。
np
col to change:
pos_x
change to val:
sent
col to change:
pos_x
change to val:
adv
col to change:
x

380
Police!
الشرطة!
 np
警察！
np
col to change:
en
change to val:
police
col to change:
cn
change to val:
警察
col to change:
en
change to val:
police
col to change:
ar
change to val:
الشرطة
col to change:
x

388
push
ادفع
 vp
推
vp
col to change:
pos_x
change to val:
vp
col to change:
x

396
right
يمين
part
右边
adv
col to change:
pos_x
change to val:
adv
col to change:
x

404
scented tea
شاي معطر
 np
花茶
np
col to change:
pos_x
change to val:
np
col to change:
x

452
Three-thirty PM.
الثالثة والنص مساءً
vp
下午3点半.
vsent
col to change:
pos_y
change to val:
np
col to change:
pos_x
change to val:
np
col to change:
x

540
Slowly.
nan
nan
慢点
sent
col to change:
ar
change to val:
ببطء
col to change:
pos_x
change to val:
adv
col to change:
x

In [41]:
arcn.loc[320, 'pos_x'] = "sent"
arcn.loc[321, 'pos_x'] = "sent"
arcn.loc[363, 'pos_x'] = "np"
arcn.loc[376, 'pos_x'] = "vp"
arcn.loc[377, 'pos_y'] = "sent"
arcn.loc[379, 'pos_x'] = "sent"
arcn.loc[379, 'pos_x'] = "adv"
arcn.loc[380, 'en'] = "police"
arcn.loc[380, 'cn'] = "警察"
arcn.loc[380, 'ar'] = "الشرطة"
arcn.loc[388, 'pos_x'] = "vp"
arcn.loc[388, 'pos_x'] = "adv"
arcn.loc[404, 'pos_x'] = "np"
arcn.drop(452, inplace=True)
arcn.drop(540, inplace=True)

In [42]:
arcn.to_csv("merged0328.csv")

In [49]:
arcn.drop('pos_y', axis=1, inplace=True)

In [50]:
arcn = arcn.rename(columns={'pos_x': 'pos'})

In [106]:
tricopy = tri.copy()
#tricopy = tricopy.drop(['pos'], axis=1)

In [107]:
merge2 = pd.merge(arcn, tricopy, on="en", how="outer")

In [108]:
merge2.shape

(572, 8)

In [109]:
merge2.drop('Unnamed: 0', axis=1, inplace=True)
merge2.head()

  en   ar_x pos_x cn_x   ar_y cn_y pos_y
0  0    صفر   num    零    صفر    〇   num
1  1   واحد   num    一   واحد    一   num
2  2  إثنان   num    二  إثنان    二   num
3  3  ثلاثة   num    三  ثلاثة    三   num
4  4  أربعة   num    四  اربعة    四   num

In [110]:
merge2 = merge2.fillna('')

In [111]:
merge2.tail(10)

                       en ar_x pos_x cn_x       ar_y    cn_y pos_y
562         For * people.                  ل* أشخاص.   为*个人。    vp
563                 Yeah.                       نعم.     是的。    vp
564                 Sure.                      صحيح!    当然啦!  sent
565                friend                       صديق      朋友    np
566                   Hi!                     مرحبا!     你好！  sent
567  What would you like?                  ماذا تحب؟  你喜欢什么？  sent
568       I would like *.                     أود *.  我想要 *。    vp
569                 mango                      مانجو      芒果    np
570                 apple                      تفاحة      苹果    np
571              * people                    * أشخاص     *个人   prt

In [113]:
todrop = [543, 544, 545,552,553,554]
for i in todrop:
    merge2.drop(todrop, inplace=True)

ValueError: labels [543 544 545 552 553 554] not contained in axis

In [115]:
for i, row in merge2.iterrows():
    if row.ar_x == "":
        merge2.loc[i, "ar_x"] = row.ar_y
        merge2.loc[i, "cn_x"] = row.cn_y
        merge2.loc[i, "pos_x"] = row.pos_y

In [116]:
for i, row in merge2.iterrows():
    if row.ar_x == "":
        print(i)
        print(row.en)
        print()

In [117]:
merge2.head(10)

  en    ar_x pos_x cn_x    ar_y cn_y pos_y
0  0     صفر   num    零     صفر    〇   num
1  1    واحد   num    一    واحد    一   num
2  2   إثنان   num    二   إثنان    二   num
3  3   ثلاثة   num    三   ثلاثة    三   num
4  4   أربعة   num    四   اربعة    四   num
5  5    خمسة   num    五    خمسة    五   num
6  6     ستة   num    六     ستة    六   num
7  7    سبعة   num    七    سبعة    七   num
8  8  ثمانية   num    八  ثمانية    八   num
9  9    تسعة   num    九    تسعة    九   num

In [118]:
merge2.drop(['ar_y','cn_y','pos_y'],axis=1,inplace=True)

In [119]:
final = merge2.rename(columns={'pos_x': 'pos',"ar_x":"ar","cn_x":"cn"})

In [120]:
final.head()

  en     ar  pos cn
0  0    صفر  num  零
1  1   واحد  num  一
2  2  إثنان  num  二
3  3  ثلاثة  num  三
4  4  أربعة  num  四

In [124]:
final.tail()

                       en         ar   pos      cn
567  What would you like?  ماذا تحب؟  sent  你喜欢什么？
568       I would like *.     أود *.    vp  我想要 *。
569                 mango      مانجو    np      芒果
570                 apple      تفاحة    np      苹果
571              * people    * أشخاص   prt     *个人

In [125]:
final.to_csv("finalmaster.csv")